*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0e0e0;
}
.container {
  margin: 50px auto;
  border: 2px solid #d0d0d0;
  padding: 20px;
  width: 80%;
  background-color: #f0f0f0;
}
label {
  display: block;
  font-weight: 500;
  font-size: 1.1em;
  margin: 10px 0px 5px;
}
.form-input {
  padding: 8px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  font-size: 1.2em;
}